body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hwb(55 62% 0% / 0.637);
  color: rgb(14, 13, 13);
}

h1 {
  color: rgb(229, 5, 5);
}

a {
  text-decoration: none;
  color: #141814;
  margin-right: 10px;
}

form div {
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #14611f;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
